<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Address Book Management System</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <app-employee-details-form></app-employee-details-form>
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead class="thead-light" align="center">
                
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>DOB</th>
                    <th>dept</th>
                    <th></th>
                
            </thead>
            <tbody>
                <tr *ngFor="let emp of service.list">
                    <td (click)="populateForm(emp)">{{emp.name}}</td>
                    <td (click)="populateForm(emp)">{{emp.address}}</td>
                    <td (click)="populateForm(emp)">{{emp.phone}}</td>
                    <td (click)="populateForm(emp)">{{emp.email}}</td>
                    <td (click)="populateForm(emp)">{{emp.dateofbirth}}</td>
                    <td (click)="populateForm(emp)">{{emp.depto}}</td>

                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(emp.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div>
    <button style="width: 80px;" routerLink="/login" class="btn btn-danger">Logout</button>
</div>


